




////////////////////////////////////////////////
//  TEMPORARY OUTLINES FOR PLANNING PURPOSES  //
////////////////////////////////////////////////

* {
	box-sizing: border-box;
}

header {
	border-bottom: 1px solid grey;
}

footer {
	border-top: 1px solid grey;
}